<div class="bottom-left">
	<img class="cover-img" src="https://lh3.googleusercontent.com/proxy/1sx3w2F78SKmYGaFpE4wvcahSjiyooGtE-BVQe6ZPi52E1s-UprTfLM4XQpowTMRNuCO0TcgbZ7VDRAjNGKWnvnhfpDb_eKdSVtTEBtVxZbeKClR7EkCoJu8eN04yATbQpY7w2cw0ZJsSB-8Iw">
	<div class="bottom-nav d-flex mb-3 mt-3">
      <span class="nav-bttn "><a href="/" class="hard-gray-text">POSTS</a></span>
      <span class="nav-bttn "><a href="/" class="hard-gray-text">PHOTOS</a></span>
      <span class="nav-bttn "><a href="/" class="hard-gray-text">VIDEOS</a></span>
    </div>
    <div>
    	<div class="container ">
		    <div class="container bg-white posts pt-3 pb-3 border" >
		    	<div class="border-bottom pb-2">
		    		<span class="twitter-text bold">ALL POSTS</span>
		    	</div>
		    	<div>
		    		<% @user.posts.each do |post| %>
		    			<div class="d-flex mt-3 mb-3 ">
		    				<img class="icon-user mr-2" src="https://cdn.iconscout.com/icon/free/png-512/avatar-375-456327.png">
			    			<div>
			    				<%= @user.username %><br>
			    				<span class="gray-text"><%= post.content %></span>
			    			</div>

		    			</div>
		    		<% end %>
		    	</div>
		    </div>
		</div>
	</div>



</div>
<div class="bottom-right ">
	<div class="text-center total-width mt-3">
	
		<img class="icon-user-show " src="https://cdn.iconscout.com/icon/free/png-512/avatar-375-456327.png"><br>
		<span class=" mt-3 "><%= @user.username %></span><br>
		<span class=" mt-3  gray-text"><%= @user.email %></span>
		<div class="d-flex justify-content-between border mt-3 pl-2 pr-2">
			<div class="border-right pr-2 mr-2">
				<span><%= @user.posts.count %></span><br>
				<span class="gray-text">Posts</span>
			</div>
			<div>
				<span ><%=  following(@user) %></span><br>
				<span class="gray-text">Following</span>
			</div>
			<div class="border-left pl-2 ml-2" >
				<span ><%=  followers(@user) %> </span><br>
              <span class="gray-text">Followers</span>
			</div>
			
		</div>

	</div>
	<div class="pl-2 pt-3 border-bottom pb-3">
		<span class="gray-text ">FOLLOWED BY</span>
	</div>
	<div >
		<% @user.other_friendships.each do |user| %>
			<div class="d-flex mt-3 pl-2">
			<img class="icon-user mr-2" src="https://cdn.iconscout.com/icon/free/png-512/avatar-375-456327.png">
			
			<div>
				<span class="bold"><%= user.user.username %></span><br>
				<span class="gray-text"><%= user.user.email %> </span><br>
				<span class="follow-link"><%= follow(user.user) %></span>
			</div>
			</div>
		<% end %><br>
	</div>

</div>